body{
    font-family: "mouse-300", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: #7782aa;
}
.slider-text h1 {
    width: 632px;
}
.btn{
    background-color: #167ce9
}
